[submodule "geiss"]
	path = geiss
	url = https://github.com/robertpelloni/geiss
[submodule "BeatDrop"]
	path = BeatDrop
	url = https://github.com/robertpelloni/BeatDrop
[submodule "projectm"]
	path = projectm
	url = https://github.com/robertpelloni/projectm
[submodule "MilkDrop3"]
	path = MilkDrop3
	url = https://github.com/robertpelloni/MilkDrop3
[submodule "electricsheep"]
	path = electricsheep
	url = https://github.com/robertpelloni/electricsheep
[submodule "apophysis-j"]
	path = apophysis-j
	url = https://github.com/robertpelloni/apophysis-j
